 *{
    margin: 0;
    box-sizing: border-box;

 }
 .text-wrapper{
    display: flex;

    background: rgb(105, 12, 12);
    overflow: hidden;
 }
 .text{
    font-size: small;
    text-transform: uppercase;
    color: white;
    white-space: nowrap;
    padding: 0 70rem;
    letter-spacing: 1px;
    animation: move-rtl 19s linear infinite;
 }
 @keyframes move-rtl{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
 }
 



